/*
	悬浮下拉菜单需要增加的样式.(其他样式继承自Global.css)
*/
/* 导航栏 */
#nav {
	position: relative;
	z-index: 1;
}
#nav .space, #nav .goods {
	cursor: pointer;
}
#spaceBox, #goodsBox {
	display: none;
	position: absolute;
}
#spaceBox .hideList {
	left: 100%;
	min-width: 400px;
}
#goodsBox .hideList {
	right: 100%;
	min-width: 400px;
}
/*
	悬浮下拉菜单样式 End
*/
/*面包屑导航*/
#location {
	margin: 15px 0;
	font-size: 14px;
}
#location>div {
	float: left;
	margin-left: 10px;
}
#location b {
	font-size: 18px;
}

/*内容筛选*/
#dateil>div {
	float: left;
}
#dateil .dateilLeft {
	width: 273px;
	margin-right: 20px;
}
#dateil .boxTitle {
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	font-weight: 600;
	padding-left: 17px;
	background-color: #ededed;
}
#dateil .tabStyle, #dateil .rank, #optBox {
	border: 1px solid #dadada;
	background-color: #dadada;
}
#dateil .tabStyle img {
	float: left;
	width: 135px;
	margin: 1px 1px 0 0;
}
#dateil .tabStyle img.noRight {
	margin-right: 0;
}
#dateil .rank {
	margin-top: 30px;
}
#dateil .rank img {
	float: left;
	width: 271px;
	margin-top: 1px;
}
#dateil .dateilRight {
	width: 100%;
}
#optBox .boxTitle {
	text-align: center;
	margin-bottom: 1px;
}
#optBox .boxTitle span {
	font-weight: normal;
}
#optBox ul {
	padding: 15px;
	background-color: #F7F7F7;
}
#optBox ul li {
	font-size: 13px;
	line-height: 30px;
}
#optBox ul li span {
	width: 90px;
	font-weight: 600;
	text-align: right;
	display: inline-block;
}
#optBox ul li i {
	margin: 0 6px;
	cursor: pointer;
	padding: 3px 6px;
	font-style: normal;
}
#optBox ul li i:hover, #optBox ul li i.on {
	background-color: #dedede;
}
#optBox ul li div {
	float: right;
	cursor: pointer;
	text-align: center;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	border: 1px solid #dadada;
}
#optBox ul li div a {
	font-size: 17px;
	color: #aaa;
}
#dateil .toolBar {
	height: 40px;
	margin: 15px 0;
	font-size: 14px;
	line-height: 40px;
}
#dateil .toolBar .sortBtn {
	float: left;
}
#dateil .toolBar .sortBtn li {
	float: left;
	color: #FFF;
	cursor: pointer;
	padding: 0 25px;
	margin-right: 15px;
	background-color: #acacac;
}
#dateil .toolBar .sortBtn li:hover, #dateil .toolBar .sortBtn li.on {
	background-color: #1badd6;
}
#dateil .toolBar .showType {
	float: right;
}
#dateil .showType li {
	float: left;
	color: #FFF;
	margin-left: 12px;
}
#dateil .showType .pageNum {
	font-size: 14px;
	color: #000;
}
#dateil .showType .pageNum span {
	color: #F00;
}
#dateil .pageL, #dateil .pageR {
	width: 36px;
	color: #fff;
	height: 36px;
	font-size: 25px;
	text-align: center;
	line-height: 34px;
}
#dateil .showType .pageL {
	background-color: #dbdbdb;
}
#dateil .showType .pageR {
	margin-left: 0;
	background-color: #acacac;
}
#dateil .showType .showIcoU, #dateil .showType .showIcoE {
	width: 36px;
	height: 36px;
	cursor: pointer;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
}
#dateil .showType .showIcoU{
	background-position: 0 0;
}
#dateil .showType .showIcoU:hover, #dateil .showType .showIcoU.on{
	background-position: 0 -36px;
}
#dateil .showType .showIcoE{
	background-position: -40px 0;
}
#dateil .showType .showIcoE:hover, #dateil .showType .showIcoE.on{
	background-position: -40px -36px;
}

#packer .item {
	width: 25%;
	cursor: pointer;
}
#packer .item.w2 {
	width: 50%;
}
#packer .item.w3 {
	width: 60%;
}
#packer .item .content {
	bottom: 0;
	width: 100%;
	height: 20%;
	min-height:40px;
	max-height:50px;
	color: #FFF;
	font-size:22px;
	padding: 0 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, .3);
}
#packer .content span{
	color:#F00;
	font-size:30px;
}
#packer .content div{
	top: 30%;
	right: 10px;
	color: #ffcc00;
	padding: 0 5px;
	font-size: 14px;
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: rgba(0, 0, 0, .35);
}

.page {
	color: #000;
	font-size: 13px;
	margin: 15px 0;
	text-align: right;
}
.page span {
	color: #FFF;
	padding: 10px 15px;
	cursor: pointer;
	display: inline-block;
	background-color: #acacac;
}
.page span:hover{
	background-color: #1fccee;
}
.page input {
	width: 41px;
	height: 37px;
	text-align: center;
	border: 1px solid #D1D1D1;
}

#optBox ul li button{
	color:#FFF;
	background-color:#878787;
}
#dateil .toolBar>div{
	float: left;
	margin-right:10px;
}
/*所在地选择*/
#dateil .city{
	width: 150px;
	height: 35px;
	cursor:pointer;
	margin-top:2px;
	line-height: 35px;
	text-align: right;
	padding-right: 15px;
	border: 1px solid #878787;
}
#dateil .city i{
	top: -3px;
	color: #999;
	position: relative;
}

#dateil .toolBar input{
	border: 1px solid #878787;
}
#dateil .search input, #dateil .search button{
	height:35px;
	padding:0 10px;
}
#dateil .search{
	margin-top: -2px;
}
#dateil .search button{
	top: 1px;
	color:#FFF;
	font-size:14px;
	font-weight:600;
	position: relative;
	background-color:#878787;
}
/*设计师排行*/
.designerRank .title {
	height: 40px;
	line-height:40px;
	border-bottom: 2px solid #007DCA;
}
.designerRank .title i{
	width: 40px;
	height: 25px;
	display: inline-block;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
	background-position: 0 -290px;
}

.designerRank .title>b{
	font-size:16px;
	margin:0 20px;
}

.designerRank .title a b{
	float:right;
	font-size:14px;
}
.designerRank .designphoto img{
	float:left;
	width:20%;
}
.designphoto .broad{
	display: block;
	position: relative;
	cursor: pointer;
}
.broad .avatar {
    width: 90px;
    height: 90px;
	position: absolute;
	border: 4px solid #ebdbc1;
	top: 20px;
	margin-left: 20px;
}
.broad .avatar img{
    width: 100%;
    float: none;
}
.broad .noicon {
	margin-left: 89px;
	top: 29px;
	width: 30px;
	height: 30px;
}

/*多条件筛选*/
#optBox input[type="checkbox"]{
	display:none;
}

#searchOpt{
	padding-top:2px;
}
#searchOpt s{
	cursor:pointer;
	display:none;
	font-size:12px;
	padding:2px 5px;
	border:1px solid #CCC;
	margin:0 5px;
}
#searchOpt s:after{
	content: '\2715';
}