/*
	悬浮下拉菜单需要增加的样式.(其他样式继承自Global.css)
*/

#nav {
	position: relative;
	z-index: 1;
}
#nav .space, #nav .goods {
	cursor: pointer;
}
#spaceBox, #goodsBox {
	display: none;
	position: absolute;
}
#spaceBox .hideList {
	left: 100%;
	min-width: 400px;
}
#goodsBox .hideList {
	right: 100%;
	min-width: 400px;
}
/*
	悬浮下拉菜单样式 End
*/

#location {
	margin: 15px 0;
	font-size: 14px;
}
#location b {
	font-size: 18px;
}
#info>div {
	width: 50%;
	float: left;
}
#info>div>img {
	float: left;
	width:100%;
}
#info .floatBtn{
	position:relative;
}
#info .floatBtn b{
	top:50%;
	left:50%;
	color:#fff;
	width:110px;
	height:110px;
	margin:-55px;
	font-size:18px;
	cursor:pointer;
	text-align:center;
	line-height:110px;
	position:absolute;
	display:inline-block;
	background-color:rgba(0, 0, 0, .5);
	border-radius: 55px;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
}
#info .floatBtn b a{
    color: white;
}
#info .floatBtn b:hover{
	background-color:#000;
}
#info .info {
	color: #666;
	font-size: 12px;
	padding-left: 30px;
	line-height: 24px;
}
#info .info b {
	color: #000;
	font-size: 24px;
}
#info .info .userId {
	color: #fff;
	width: 90px;
	height: 17px;
	display:inline-block;
	line-height: 17px;
	background: #b4b4b4;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#info ul li u {
	width: 60px;
	text-align: right;
	margin-right: 7px;
	display: inline-block;
}
#info ul li.border {
	width: 90%;
	margin: 12px 0;
	color:#000;
	padding: 15px 20px;
	background-color: #e8f7fb;
	border: 1px solid #1badd5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#info ul li.tag s {
	color: #FFF;
	height: 19px;
	padding: 0 9px;
	line-height: 20px;
	text-align: center;
	margin-right: 7px;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#info ul li.tag s.btn1 {
	background-color: #60D142;
}
#info ul li.tag s.btn2 {
	background-color: #15D284;
}
#info ul li.tag s.btn3 {
	background-color: #15C7D2;
}
#info ul li.tag s.btn4 {
	background-color: #1BADD5;
}

#info ul li .wordTop {
	float:left;
	width: 60px;
}
#info ul li .score {
	float: left;
	width: 185px;
	height: 80px;
	margin: 7px;	
	text-align: center;
	border: 1px solid #d51b1b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#info ul li .score .title {
	height: 38px;
	line-height: 38px;
	color: #FFF;
	font-weight: 600;
	background-color: #d51b1b;
}
#info ul li .score .word {
	line-height: 42px;
}
#info ul li .score .word i {
	color: #ffd200;
	margin: 0px 6px;
	font-size: 20px;
}
#info ul li.pay s {
	color: #1BADD5;
	height: 19px;
	padding: 0 9px;
	line-height: 19px;
	text-align: center;
	display: inline-block;
	border:1px solid #1BADD5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#info ul li.button b {
	color: #FFF;
	width:80px;
	height: 40px;
	cursor:pointer;
	font-size:16px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
}
#info ul li.button b.add {
	margin:11px 15px 0 0;
	background-color:#1BADD5;
}
#info ul li.button b.add:hover {
	background-color:#1584a3;
}
#info ul li.button b.share {
	background-color:#FFA200;
}
#info ul li.button b.share:hover {
	background-color:#cc8100;
}
.wish .title{
	font-size:14px;
	font-weight:600;
	height:45px;
	line-height:50px;
}
.wish .wishBox{
	padding:15px;
	text-align:center;
	border:1px solid #E9E9E9;
	background-color:#FBFBFB;
}
.wish .wishBox>div{
	float:left;
	width:160px;
}
.wish .wishBox .sum{
	position:relative;
}
.wish .wishBox>div>img{
	float:left;
	width:100%;
	border:1px solid #E7E7E7;
}
.wish .wishBox>div .num{
	width:100%;
	height:35px;
	line-height:35px;
	position:relative;
}
.wish .wishBox>div .num i{
	left:0;
	top: 7px;
	color: #666;
	font-size: 20px;
	position:absolute;
}
.wish .wishBox>div .num s{
	width:15px;
	height:15px;
	cursor:pointer;
	line-height:11px;
	display: inline-block;
	border:1px solid #ccc;
}
.wish .wishBox>div .num s.minus{
	top: 3px;
	font-size: 20px;
	position: relative;
}
.wish .wishBox>div .num input{
	width:35px;
	height:22px;
	line-height:22px;
	text-align: center;
	border:1px solid #ccc;
}
.wish .wishBox .price {
	height:30px;
}
.wish .wishBox .price s{
	color:#9d9d9d;
	text-decoration:line-through;
}
.wish .wishBox .price b{
	color:#d51b1b;
	font-size:16px;
}
.wish .wishBox .sum .price s{
	font-size:18px;
}
.wish .wishBox .sum .price b{
	font-size:24px;
}
.dsScroll .aspect{
	float: left;
	width: 10px;
	height: 35px;
	color: #dddddd;
	cursor: pointer;
	line-height: 35px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.dsScroll .picWrap{width:125px;float: left;margin: 0 5px;overflow: hidden;}
.dsScroll .picWrap div{width: 9999px;position: relative;}
.dsScroll .picWrap img{width: 37px;height: 37px;margin-right: 7px;float: left;border: 1px solid #cecece; cursor:pointer;}
.dsScroll .picWrap img:hover, .dsScroll .picWrap img.on{border: 1px solid #e73737;}
.wish .wishBox .Icon{
	width:35px;
	font-size: 30px;
	margin-top: 65px;
}
.wish .wishBox .Icon s{
	top: -41px;
	color:#FFF;
	position:relative;
}
.wish .wishBox .btn b{
	width:160px;
	height:40px;
	color:#FFF;
	font-size:16px;
	cursor:pointer;
	line-height:40px;
	display:inline-block;
	background-color:#000;
}
.wish .wishBox .btn b.buy{
	margin:110px 0 15px;
	background-color:#d51b1b;
}

.case .title {
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 2px solid #1badd5;
}
.case .caseImg>div {
	float: left;
	width: 25%;
}
.case .caseImg img {
	float: left;
	width: 100%;
}
#dateil {
	margin-top:20px;
}
#dateil>div {
	float: left;
}
#dateil .dateilLeft {
	width: 270px;
	margin-right: 20px;
}
#dateil .dateilLeft>div {
	border: 1px solid #dadada;
	background-color: #dadada;
}
#dateil .boxTitle {
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	font-weight: 600;
	padding-left: 17px;
	background-color: #ededed;
}
#dateil .rank img {
	float: left;
	width: 269px;
	margin-top: 1px;
}
.dateilRight {
	width: 910px;
	position:relative;
}
.dateilRight .bor{
	border: 1px solid #dddddd;
}
.dateilRight .topBtn a{
	float:left;
	width:105px;
	height:45px;
	font-size:14px;
	cursor:pointer;
	line-height:45px;
	text-align:center;
	display:inline-block;
	background-color:#ededed;
}
.dateilRight .topBtn a:hover, .dateilRight .topBtn a.on{
	color:#FFF;
	background-color:#383838;
}
.dateilRight img{
	float:left;
	width:100%;
}
.dateilRight .sidebar{
	float:left;
	width:90px;
	font-size:14px;
	font-weight:600;
	right:0;
	position:fixed;
	padding:0px 14px;
	border:1px solid #ddd;
	background-color:#ededed;
}
.dateilRight .sidebar div{
	height:50px;
	cursor:pointer;
	line-height:50px;
	border-bottom:1px solid #9e9e9e;
}
.dateilRight .sidebar div:hover, .dateilRight .sidebar div.on{
	color:#1badd5;
}
.dateilRight .sidebar div.last{
	border:none;
}
.Icon .addIcon, .Icon .totalIcon{
	width: 28px;
	height: 28px;
	display: inline-block;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
}
.Icon .addIcon{
	background-position: 0 -230px;
}
.Icon  .totalIcon{
	background-position: -31px -230px;
}
.num input[type=checkbox] {
	display: none;
}
.num label:before {
	content: "";
	left: 0;
	top: 10px;
	width: 17px;
	height: 15px;
	position: absolute;
	border: 1px solid #ccc;
}
.num input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 20px;
	font-weight:600;
	line-height: 10px;
}
