/*
	悬浮下拉菜单需要增加的样式.(其他样式继承自Global.css)
*/

#nav {
	position: relative;
	z-index: 1;
}
#nav .space, #nav .goods {
	cursor: pointer;
}
#spaceBox, #goodsBox {
	display: none;
	position: absolute;
}
#spaceBox .hideList {
	left: 100%;
	min-width: 400px;
}
#goodsBox .hideList {
	right: 100%;
	min-width: 400px;
}
/*
	悬浮下拉菜单样式 End
*/
/*面包屑导航*/
#location {
	margin: 15px 0;
	font-size: 14px;
}
#location b {
	font-size: 18px;
}
/*内容筛选*/
#dateil>div {
	width: 40%;
	float: left;
}
#dateil>div>img {
	float: left;
}
/*详细介绍*/
#dateil .info {
	width: 60%;
	font-size: 12px;
	line-height: 20px;
	padding: 30px 40px 12px;
	border: 1px solid #d5d5d5;
	border-left: none;
}
#dateil .info .name {
	color: #000;
	font-size: 24px;
}
#dateil .info .level {
	top: -5px;
	right: -5px;
	color: #fff;
	height: 20px;
	padding: 1px 6px;
	position: relative;
	background-color: #cc0000;
}
#dateil .info .alignR {
	float: right;
	font-size: 14px;
}
#dateil .info .red {
	color: #cc0000;
	margin-right: 10px;
	display: inline-block;
}
/*详细介绍-关注*/
#dateil .info .follow {
	color: #FFF;
	width: 90px;
	height: 34px;
	font-weight: 600;
	line-height: 34px;
	cursor:pointer;
	text-align: center;
	display: inline-block;
	background-color: #1badd5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#dateil .info .follow:hover{
	background-color: #008CA8;
}
/*擅长的风格*/
#dateil ul {
	color: #666;
	margin-top: 12px;
	line-height: 24px;
}
#dateil ul li u {
	width: 80px;
	text-align: right;
	padding-right: 7px;
	display: inline-block;
}
#dateil ul li label {
	color: #000;
}
#dateil ul li .button s {
	color: #FFF;
	height: 19px;
	padding: 0 9px;
	line-height: 20px;
	text-align: center;
	margin-right: 7px;
	display: inline-block;
	background-color: #1badd5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#dateil ul li>div {
	float: left;
}
#dateil ul li .wordTop {
	width: 80px;
}
#dateil ul li .border {
	width: 85%;
	margin: 7px 0;
	padding: 15px 20px;
	background-color: #e8f7fb;
	border: 1px solid #1badd5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*满意度*/
#dateil ul li .score {
	width: 85%;
}
#dateil ul li .score>div {
	float: left;
	width: 110px;
	height: 110px;
	margin-top: 7px;
	margin-right: 15px;
	text-align: center;
	border: 1px solid #d51b1b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#dateil ul li .score .title {
	height: 38px;
	line-height: 38px;
	color: #FFF;
	font-weight: 600;
	background-color: #d51b1b;
}
#dateil ul li .score .word {
	padding-top: 10px;
}
#dateil ul li .score .word u {
	color: #636363;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}
#dateil ul li .score .word i {
	top: 5px;
	color: #d51b1b;
	font-size: 14px;
	position: relative;
}
#dateil ul li .score .word i.green {
	top: -5px;
	color: #2ecc71;
}
#dateil ul li .score .all {
	width: 185px;
	height: 80px;
	margin-top: 12px;
}
#dateil ul li .score .all .word {
	padding-top: 5px;
}
#dateil ul li .score .all .word i {
	color: #ffd200;
	margin: 0px 6px;
	font-size: 20px;
}
#dateil ul li.complain {
	color: #1badd5;
	cursor: pointer;
	text-align: right;
}

/*联系表*/
#entryForm {
	border: 1px solid #d5d5d5;
}
#entryForm .onLine {
	height: 45px;
	line-height: 45px;
	background-color: #eaeaea;
	border-bottom: 1px solid #d5d5d5;
}
#entryForm .onLine b {
	font-size: 16px;
	margin-left: 30px;
}
#entryForm .onLine s {
	float: right;
}
#entryForm .onLine s span {
	color: #FFF;
	height: 22px;
	padding: 0 10px;
	line-height: 22px;
	text-align: center;
	margin-left: 5px;
	margin-right: 15px;
	display: inline-block;
	background-color: #6fad0d;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}
#entryForm .formDiv {
	float: left;
	width: 100%;
	font-size: 14px;
	padding: 0 1% 1%;
}
#entryForm .formDiv>div {
	width: 30%;
	margin: 1%;
	float: left;
	line-height: 24px;
}
#entryForm .formDiv .word {
	margin: 15px 0 10px;
}
#entryForm .formDiv .word u {
	margin-left: 40px;
}
#entryForm .formDiv .chosen, #entryForm .formDiv .text {
	width: 160px;
}
#entryForm .formDiv .chosen.long {
	width: 350px;
}
#entryForm .formDiv .text {
	line-height: 24px;
	margin-right: 25px;
	border: 1px solid #aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#upFile {
	left: -70px;
	color: #fff;
	width: 40px;
	line-height: 25px;
	text-align: center;
	position: relative;
	display: inline-block;
	background-color: #989898;
	cursor: pointer;
	top: 1px;
	height: 26px;
}
#fileInput {
	display: none;
}
#entryForm .formDiv b.submit {
	color: #fff;
	float: right;
	width: 100px;
	display: block;
	font-size: 18px;
	line-height: 40px;
	margin-top: -14px;
	text-align: center;
	background-color: #000;
	cursor: pointer;
}
#entryForm .formDiv b.submit:hover{
	background-color: #d51b1b;
}
#entryForm .formDiv .toR {
	width: 33%;
	float: right;
	text-align: center;
	padding-top: 20px;
}
#entryForm .formDiv .toR>div {
	color: #787878;
	font-size: 12px;
	text-align: left;
}
#entryForm .formDiv div s {
	color: #000;
}
#entryForm .formDiv b.onlines {
	color: #fff;
	width: 150px;
	margin-top: 13px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	background-color: #d51b1b;
	cursor: pointer;
}
#entryForm .formDiv b.onlines {
	background-color: #E70000;
}
#entryForm .formDiv b.onlines:hover {
	background-color: #000;
}
/*设计师介绍*/
.explain {
	width: 100%;
}
.explain .title {
	width: 100%;
	margin: 15px 0;
	font-size: 18px;
	font-weight: 600;
}
.explain .title u {
	color: #b7b7b7;
	margin: 0 7px;
	font-weight: normal;
}
.explainWord, .explainPhoto {
	float: left;
	width: 45%;
	height: 625px;
	background-image: url(../images/designer-infopage.jpg);
	background-size: 100% 100%;
}
.explain .explainWord {
	width: 55%;
	color: #858585;
	line-height: 22px;
	text-indent: 2em;
	padding: 50px 85px;
	border: 1px solid #dadada;
	background-image: url(../images/designer_img1.png);
}
.explain img {
	float: left;
}
.explain .explainImg {
	margin-top: 40px;
}
.explain .explainImg img {
	margin-right: 10px;
	border: 1px solid #dadada;
}
	/*QA*/
.QandA {
	width: 100%;
	text-align: center;
	border: 1px solid #d9d9d9;
	background-color: #d9d9d9;
}
.QandA b {
	color: #000;
	font-size: 14px;
}
.QandA img {
	float: left;
	width: 399px;
	height: 240px;
	margin-right: 1px;
}
.QandA u {
	top: 60px;
	width: 28px;
	height: 42px;
	position: relative;
	display: inline-block;
	background-color: #FFF;
}
.QandA i {
	color: #d51b1b;
	font-size: 65px;
	position: relative;
}
.QandA .answer i {
	color: #6fad0d;
}
.QandA>div>div {
	float: left;
	width: 399px;
	height: 125px;
	color: #585858;
	line-height: 22px;
	margin: 1px 1px 0 0;
	background-color: #f5f5f5;
}
.QandA>div>div>div {
	margin-top: -80px;
}
.QandA>div>div>div>div {
	text-align: left;
	padding: 0 40px;
}
.QandA .asker>div {
	color: #000;
	height: 60px;
	padding-top: 7px;
	background-color: #e5e5e5;
}
.QandA .last {
	width: 398px;
	margin-right: 0;
}
/*designer*/
.designer .title {
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	font-weight: 600;
	border-bottom: 2px solid #1fccee;
}
.designer .title i{
	width: 40px;
	height: 25px;
	display: inline-block;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
	background-position: 0 -290px;
}
.designer .title a {
	float: right;
	font-size: 14px;
}
.designer .designImg>div {
	float: left;
	width: 20%;
}
.designer .designImg img {
	float: left;
	width: 100%;
}
.onlines i {
	font-size: 28px;
}
