/*!
 *  全局style
 */

* {
	box-sizing:border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-size: 12px;
	font-family: "微软雅黑", "Microsoft Yahei", sans-serif;
}
body, input, button, ol, ul, img {
	border: 0;
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}
a:active, a:hover {
	color: #24bcdc;
}
ol, ul {
	list-style: none;
}
b {
	font-weight: 600;
	transition: all 200ms linear;
}
u, s {
	text-decoration: none;
}
p {
	margin: 0;
}
/* s 零散全局样式 */
.clear {
	clear: both;
}
.hide {
	display: none;
}
.heart {
	z-index:1;
	color: #fff;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	padding: 5px 8px;
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: rgba(0,0,0,.5);
}
.heart:hover{
	background: rgba(0,0,0,.8);
}
.red {
	color: #F00;
}
img.hot, img.new, img.save, img.gift {
	top: 0;
	right: 0;
	position: absolute;
}
.adPic {
	margin: 20px 0;
	position:relative;
}
.choses{
	position:relative;
}
.adPic img{
	width:100%;
}
.adPic b, .choses b{
	top:75px;
	right:63px;
	width:150px;
	height:45px;
	line-height:45px;
	color:#fff;
	text-align:center;
	font-size:18px;
	cursor:pointer;
	position:absolute;
	display:inline-block;
	background-color:#E70000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.adPic b:hover, .choses b:hover{
	background-color:black;
}
.choses b{
	top:125px;
	right:145px;
	width:255px;
	height:50px;
	line-height:50px;
}
.choses i.book{
	top: 5px;
	right: 10px;
	width: 31px;
	height: 23px;
	position: relative;
	display: inline-block;
	background-image: url(../images/book-icon.png);
}
/* e 零散全局样式 */

/* s 全局购物车样式 */
.shopList{
	top: 81px;
	z-index: 15;
	color: #666;
	display:none;
	width: 350px;
	right: 26px;
	padding: 10px;
	font-size: 12px;
	position: absolute;
	font-weight: normal;
	background-color:rgba(255, 255, 255, 0.85);
	border: 1px solid #1badd5;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.22);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.22);
	box-shadow: 0 0 10px rgba(0,0,0,.22);
}
.shopList .shopTop{
	line-height: 30px;
	text-align: center;
	font-size:14px;
	border-bottom:1px solid #ccc;
}
.shopList .shopTop h4 {
	color: #1badd5;
	margin: 0;
}
.goodsItem{
	line-height:24px;
	border-bottom:1px solid #ccc;
	display: block;
	float: left;
	width: 100%;	
}
#goodsList .goodsItem,.cartTh .goodsItem{
    border-bottom:none;
}
.goodsItem>div{
	width:70%;
	float:left;
}
.goodsItem .tmb {
	float:left;
	margin:5px;
	width:40px;
	height:40px;
}
.goodsItem .pname {
	line-height: 20px;
	margin: 5px;
	float: left;
	width:162px;
}
.goodsItem u{
	float:right;
	width:30%;
	text-align:right;
	line-height: 20px;
	margin-top:5px;
}
a.gotocart {
	color: #fff;
	font-size: 14px;
	transition: all 200ms linear;
	background-color: #e4393c;
	padding: 5px 20px;
}
a.gotocart:hover{
	background-color: black;
} 
.shopList b{
	color:#E4393C;
}
.goodsItem b.big{
	font-size: 18px;
}
.goodsTotal{
	text-align: right;	
}
.goodsTotal a{
	display: inline-block;
	text-align: center;
	font-weight: 700;
	line-height: 30px;
}

/* e 全局购物车样式 */

/* s 内页顶部背景 及 总体宽度限制 */
#bgImg {
	margin-bottom: -4px;
}
#Html5Video{
	max-height:240px;
}
#bgColor {
	height: 45px;
	background: none repeat scroll 0% 0% rgba(25, 25, 25, 0.8);
}
#main {
	width: 1200px;
	margin: -220px auto 0;
}
/* e 内页顶部背景 及 总体宽度限制 */

/* s header */
#topWord {
	height: 40px;
	line-height: 50px;
	text-align: right;
	position: relative;
	padding-right: 125px;
}
#header {
	color: #FFF;
	height: 180px;
	font-size: 14px;
	font-weight: 600;
	position: relative;
}
#topBar {
	height: 135px;
	overflow: hidden;
	padding: 0 26px 0 20px;
}
#topBar>div {
	float: left;
}
#header .logo {
	width: 315px;
}
#header .searchTab {
	width: 575px;
}
#header .classTab {
	font-size: 14px;
	line-height: 37px;
}
#header .classTab>div {
	float: left;
	width: 77px;
	height: 37px;
	cursor: pointer;
	text-align: center;
}
#header .classTab>div:hover, #header .classTab>div.on {
	background-color: #008CA8;
}
#header .styles {
	background-color: #00b0d3;
}
#header .design {
	background-color: #4acde5;
}
#header .goods {
	background-color: #78daec;
}
#header .shops {
	background-color: #98e1ef;
}
#header .searchTab input {
	color: #999;
	width: 500px;
	height: 45px;
	line-height: 24px;
	padding: 5px 17px;
	border: 1px solid #1fccee;
	top:-1px;
	position:relative;
}
#header .searchTab button {
	width: 46px;
	color: #fff;
	cursor:pointer;
	line-height: 45px;
	background-color: #1fccee;
	transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	position:absolute;
	display: inline-block;
	margin-top:-1px;
}
#header .searchTab button:hover {
	background: #008CA8;
}
#header .searchTab button i {
	font-size: 20px;
}
#header .shopIcon {
	float: right;
	cursor:pointer;
	margin-top: 10px;
}
#header a.carticon,#head a.carticon{
	border: 1px solid #1badd5;
	width: 100%;
	height: 100%;
	display: block;
	background-color:transparent;
	transition: all 200ms linear;
}
#header a.carticon:hover,#head a.carticon:hover{
    background-color:rgba(255, 255, 255, 0.85);
}
#header a i.fa.fa-shopping-cart,#head a i.fa.fa-shopping-cart {
	font-size: 40px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	padding-right: 5px;
	width: 70px;
	height: 70px;
	color:#1badd5;
	transition: all 200ms linear;
}

#head .shopIcon {
	display: none;
}

#nav {
	z-index: 3;
	height: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
}
#nav>li {
	width: 11%;
	float: left;
	background-color: #464646;
	border-right: 1px solid #676767;
}
#nav>li:hover, #nav>li.on {
	background-color: #1badd5;
}
#nav>li a {
	color: #FFF;
}
#nav .space, #nav .goods {
	border: none;
	width: 22.5%;
	text-align: left;
}
#nav .space>div, #nav .goods>div {
	width: 90%;
	margin: 0 auto;
}
#nav .space {
	background-color: #1badd5;
}
#nav .goods, #nav .goods:hover, #nav .goods.on {
	background-color: #6fad0d;
}
#nav .free {
	top: -13px;
	left: 480px;
	position: absolute;
}
#nav .downIcon {
	float: right;
	margin-top: 14px;
}
/* e header */

/* s 风格选择部分 */
#stylesBox {
	top: 44px;
	width: 11%;
	display: none;
	overflow: hidden;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
}
#stylesBox ul {
    border: 1px solid #464646;
}
#stylesBox li {
	color: #464646;
	font-size: 12px;
	line-height: 35px;
	font-weight: 300;
	cursor:pointer;
	text-align: center;
}
#stylesBox li:hover, #stylesBox li.on {
	color: #FFF;
	background-color: #464646;
}
/* e 风格选择部分 */

/* s 多级分类样式 */
#spaceBox, #goodsBox {
	font-weight:normal;
}
#spaceBox {
	width: 22.5%;
	background-color: #1fccee;
}
#spaceBox>li {
	padding: 1px;
	border-bottom: 1px solid #53d8f2;
}
#spaceBox .spaceList, #goodsBox .goodsList {
	color: #FFF;
	height: 45px;
	cursor: pointer;
	padding: 0 20px;
}
#spaceBox>li:hover .spaceList {
	position: relative;
	z-index: 9;
	color: #1fccee;
	margin-right: -2px;
	background-color: #FFF;
}
#spaceBox .arrow {
	float: right;
}
#spaceBox li i, #goodsBox li i {
	width: 30px;
	height: 26px;
	position: relative;
	display: inline-block;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
}
#spaceBox .icon-kt{
	background-position: 0 -317px;
}
#spaceBox li:hover .icon-kt{
	background-position: 0 -383px;
}
#spaceBox .icon-ws{
	top: 2px;
	background-position: -35px -320px;
}
#spaceBox li:hover .icon-ws{
	background-position: -35px -386px;
}
#spaceBox .icon-sf{
	top:5px;
	background-position: -67px -323px;
}
#spaceBox li:hover .icon-sf{
	background-position: -67px -389px;
}
#spaceBox .icon-etf{
	top: 5px;
	background-position: -97px -323px;
}
#spaceBox li:hover .icon-etf{
	background-position: -97px -389px;
}
#spaceBox .icon-wsj{
	top: 12px;
	background-position: -130px -325px;
}
#spaceBox li:hover .icon-wsj{
	background-position: -130px -391px;
}
#spaceBox .icon-yys{
	background-position: -161px -317px;
}
#spaceBox li:hover .icon-yys{
	background-position: -161px -383px;
}
#spaceBox .icon-ymj{
	background-position: -195px -317px;
}
#spaceBox li:hover .icon-ymj{
	background-position: -195px -383px;
}

#goodsBox .icon-jf{
	top: 3px;
	background-position: -0 -353px;
}
#goodsBox li:hover .icon-jf{
	background-position: -0 -418px;
}
#goodsBox .icon-jj{
	top:10px;
	background-position: -35px -359px;
}
#goodsBox li:hover .icon-jj{
	background-position: -35px -424px;
}
#goodsBox .icon-dj{
	top: 5px;
	background-position: -67px -357px;
}
#goodsBox li:hover .icon-dj{
	background-position: -67px -422px;
}
#goodsBox .icon-jzrs{
	top: 5px;
	background-position: -97px -355px;
}
#goodsBox li:hover .icon-jzrs{
	background-position: -97px -420px;
}
#goodsBox .icon-qjyp{
	top:5px;
	background-position: -130px -357px;
}
#goodsBox li:hover .icon-qjyp{
	background-position: -130px -422px;
}
#goodsBox .icon-jc{
	top:5px;
	background-position: -161px -355px;
}
#goodsBox li:hover .icon-jc{
	background-position: -161px -420px;
}
#goodsBox .icon-fw{
	top:5px;
	background-position: -195px -355px;
}
#goodsBox li:hover .icon-fw{
	background-position: -195px -420px;
}


#spaceBox .hideList, #goodsBox .hideList {
	z-index: 8;
	display: none;
	margin-top: -46px;
	position: absolute;
	background: #FFFFFF;
	padding: 0 15px 10px;
}
#spaceBox .hideList {
	left: 22.5%;
	border: 1px solid #53d8f2;
	-moz-box-shadow: 4px 4px 10px #aaa;
	-webkit-box-shadow: 4px 4px 10px #aaa;
	box-shadow: 4px 4px 10px #aaa;
}
#spaceBox .hideList li, #goodsBox .hideList li {
	line-height: 30px;
	border-bottom: 1px solid #eee;
}
#spaceBox .hideList li a, #goodsBox .hideList li a {
	font-size: 12px;
	font-weight: normal;
	padding: 0 10px;
	color: #999;
}
#spaceBox .hideList li span, #goodsBox .hideList li span {
	width: 80px;
	padding: 0 10px;
	display: inline-block;
	color: #0071cf;
}
#spaceBox .hideList li span {
	text-align: right;
}
#spaceBox .hideList li a:hover, #goodsBox .hideList li a:hover {
	color: #0071cf;
}
#goodsBox {
	width: 22.5%;
	text-align: right;
	background-color: #85c028;
}
#goodsBox>li {
	padding: 1px;
	border-bottom: 1px solid #a1cf5a;
}
#goodsBox>li:hover .goodsList {
	position: relative;
	z-index: 9;
	color: #85c028;
	margin-left: -2px;
	background-color: #FFF;
}
#goodsBox .arrow {
	float: left;
}
#goodsBox .hideList {
	right: 22.5%;
	border: 1px solid #85c028;
	-moz-box-shadow: -4px 4px 10px #aaa;
	-webkit-box-shadow: -4px 4px 10px #aaa;
	box-shadow: -4px 4px 10px #aaa;
}
#goodsBox .hideList li span {
	text-align: left;
}
/* e 多级分类样式 */

/* s Packer全局样式 */
#packer .item, .packer .item {
	width: 25%;
	background-size: 100% 100%;
	cursor: pointer;
}
#packer .item a, .packer .item a,.rank a{
	display: block;
}
#packer .item.w2, .packer .item.w2 {
	width: 50%;
}
#packer .item.w3, .packer .item.w3 {
	width: 75%;
	border-top: 1px solid #ededed;
}
#packer .item .content, .packer .item .content {
	height: 100%;
	padding: 5%;
	color: #FFF;
	opacity:0;
	cursor:pointer;
	background-color: rgba(0, 0, 0, .5);
	transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-webkit-transition: all 500ms linear;
	-o-transition: all 500ms linear;
}
#packer .item:hover .content, .packer .item:hover .content{
	opacity:1;
}
#packer .item .content p {
	line-height: 22px;
}

a.button {
	color: #000;
	border: 1px solid #000;
	font-weight: 600;
	padding: 6px 15px;
	background: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position:absolute;
	transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
}
a.button:hover,
.bottomNav .fristCol button:hover{background: black;color:white;}

/* e Packer全局样式 */

/* s 猜你喜欢 */
.guess {
	width: 100%;
}
.guess .title {
	margin: 15px 0;
	font-size: 16px;
	font-weight: 600;
}
.guess .title a {
	margin: 0 10px;
}
.guess .title a.on{
	color: #24bcdc;
}
.guess .title u {
	color: #666;
	margin: 0 7px;
	font-size: 12px;
}
.guessBox {
	padding: 20px 0;
	border: 1px solid #dadada;
}
.guessBox div {
	float: left;
}
.guessBox .aspect {
	width: 3%;
	color: #FFF;
	height: 38px;
	cursor:pointer;
	margin-top: 80px;
	line-height: 38px;
	text-align: center;
	background-color: #666;
}
.guessBox .imgList {
	width: 94%;
	height: 185px;
	overflow: hidden;
	position: relative;
}
.guessBox .imgList ul {
	width: 1000%;
	margin-left: -23px;
	position: relative;
}
.guessBox .imgList li {
    cursor: pointer;
	float: left;
	width: 145px;
	margin: 0 25px;
	text-align: center;
}
.guessBox .imgList li span {
	color: #F00;
}
/* e 猜你喜欢 */

/* s 全局footer */
footer {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}
.bottomNav {
	font-size: 14px;
	padding: 30px 0;
	border-bottom: 1px solid #CCC;
}
.bottomNav>div {
	float: left;
	width: 20%;
	height: 200px;
	padding: 30px 24px;
	border-right: 1px solid #D9D9D9;
}
.bottomNav .fristCol {
	width: 40%;
	line-height: 30px;
}
.bottomNav .fristCol>div {
	margin: 0 auto;
	text-align: left;
}
.bottomNav .fristCol span {
	font-size: 12px;
	color: #b7b7b7;
}
.bottomNav .fristCol input {
	width: 248px;
	padding: 5px;
	line-height: 28px;
	border: 1px solid #ccc;
}
.bottomNav .fristCol button {
	color: #FFF;
	width: 72px;
	height: 40px;
	font-size: 14px;
	margin-left: 10px;
	font-weight: 600;
	cursor:pointer;
	background-color: #bbb;
	transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
}

.bottomNav .lastCol {
	border: none;
	text-align: center;
}
.bottomNav .lastCol img{
	opacity:0.6;
}
.bottomNav .lastCol img:hover{
	opacity:1;
}

.bottomNav .sinaIcon {
	margin-top: 10px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}
.bottomNav div ul li {
	color: #0dbbdd;
	list-style: disc;
	line-height: 30px;
}
footer, footer a {
	color: #626262;
}
footer a:hover {
	color: #24bcdc;
}
.copyright {
	padding: 0 50px;
	color: 636363;
	height: 50px;
	line-height: 50px;
}
/* e 全局footer */


/* s 城市选择 */
#cityBox {
	top: -2px;
	left:-1px;
	z-index:1;
	width: 384px;
	display: none;
	font-size:13px;
	line-height: 25px;
	position: relative;
}
#cityBox .cityBody {
	padding: 5px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #666;
}
#cityBox .cityNav {
	height: 22px;
	padding: 0;
	margin: 5px 10px;
	border: 1px solid #666;
}
#cityBox .cityNav li {
	width: 70px;
	float: left;
	color: #666;
	line-height: 20px;
	text-align: center;
}
#cityBox .cityNav li:hover{
	background-color:#666;
	color: white;
}
#cityBox .cityNav li.on {
	font-weight: 600;
	background-color: #666;
	color: white;
	border-bottom: none;
}
#cityBox .cityList ul {
	display: none;
	padding: 0 10px;
}
#cityBox .cityList ul li {
	float: left;
	color: #666;
	cursor: pointer;
	padding: 1px 6px;
	white-space: nowrap;
	font-size: 12px;
}
#cityBox .cityList ul li:hover{
	background-color: #666;
	color: white;
}
/* e 城市选择 */

/* s 滚动图片 */
.rollBox {
	height: 240px;
	overflow: hidden;
	position: relative;
}
.rollBox .title{
	height: 35px;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 2px solid #1badd5;
}
 #toLeft, #toRight {
	z-index: 2;
	top: 100px;
	width: 50px;
	color: #FFF;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}
 #toRight.right {
	right: 0;
}
 #imgBox {
	overflow: hidden;
	position: relative;
}
 #imgBox ul{
	width: 1000%;
	position: relative;
}
 #imgBox li{
	float: left;
	width:240px;
	position:relative;
}
/* e 滚动图片 */


/* 全局通用位置控制样式  */
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xxs {
  margin-left: 1px;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-sxs {
  margin-bottom: 2px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}

.p-xs {
  padding: 5px;
}
.p-sm {
  padding: 10px;
}
.p {
  padding: 15px;
}
.p-md {
  padding: 20px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 50px;
}
.p-n {
  padding: 0 !important;
}
.p-l-none {
  padding-left: 0;
}
.p-l-xxs {
  padding-left: 1px;
}
.p-l-xs {
  padding-left: 5px;
}
.p-l-sm {
  padding-left: 10px;
}
.p-l {
  padding-left: 15px;
}
.p-l-md {
  padding-left: 20px;
}
.p-l-lg {
  padding-left: 30px;
}
.p-l-xl {
  padding-left: 40px;
}
.p-t-none {
  padding-top: 0;
}
.p-t-xxs {
  padding-top: 1px;
}
.p-t-xs {
  padding-top: 5px;
}
.p-t-sm {
  padding-top: 10px;
}
.p-t {
  padding-top: 15px;
}
.p-t-md {
  padding-top: 20px;
}
.p-t-lg {
  padding-top: 30px;
}
.p-t-xl {
  padding-top: 40px;
}
.p-r-none {
  padding-right: 0;
}
.p-r-xxs {
  padding-right: 1px;
}
.p-r-xs {
  padding-right: 5px;
}
.p-r-sm {
  padding-right: 10px;
}
.p-r {
  padding-right: 15px;
}
.p-r-md {
  padding-right: 20px;
}
.p-r-lg {
  padding-right: 30px;
}
.p-r-xl {
  padding-right: 40px;
}
.p-b-none {
  padding-bottom: 0;
}
.p-b-xxs {
  padding-bottom: 1px;
}
.p-b-sxs {
  padding-bottom: 2px;
}
.p-b-xs {
  padding-bottom: 5px;
}
.p-b-sm {
  padding-bottom: 10px;
}
.p-b {
  padding-bottom: 15px;
}
.p-b-md {
  padding-bottom: 20px;
}
.p-b-lg {
  padding-bottom: 30px;
}
.p-b-xl {
  padding-bottom: 40px;
}

.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-none {
	float: none;
}
/* 全局通用位置控制样式  */

.avatar {
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	border: 4px solid #53d8f2;
}

.icon360 {
	width:82px;
	height: 82px;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
	background-position: 0 -145px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -41px;
	margin-top: -41px;
	opacity: .7;
	cursor: pointer;
}
a.icon360:hover{
	opacity: 1;
}
.hoticon {
	position: absolute;
	display: inline-block;
	width: 69px;
	height: 69px;
}
.noicon {
	position: absolute;
	display: inline-block;
	width: 55px;
	height: 55px;
}
.sranks {
	display: block;
	position: relative;
	float:left;
}
.no1 {
	background-image: url(../images/no.1.png);
}
.no2 {
	background-image: url(../images/no.2.png);
}
.no3 {
	background-image: url(../images/no.3.png);
}
.no4 {
	background-image: url(../images/no.4.png);
}
.no5 {
	background-image: url(../images/no.5.png);
}
.no1small {
	background-image: url(../images/no.1-30x30.png);
}
.no2small {
	background-image: url(../images/no.2-30x30.png);
}
.no3small {
	background-image: url(../images/no.3-30x30.png);
}
.no4small {
	background-image: url(../images/no.4-30x30.png);
}
.no5small {
	background-image: url(../images/no.5-30x30.png);
}
.sranks .noicon {
	right: 10px;
	top: 10px;
}
#dateil .item .fa{
	vertical-align: 0%;
}
.city .fa{
	vertical-align: 20%;
}
.full-width {
	width: 100%!important;
}
.recommend {
	background-image: url(../images/recommoded.png);
	background-repeat: no-repeat;
}
.bighot {
	background-image: url(../images/hot.png);
	background-repeat: no-repeat;
}
.item .recommend,.item .bighot{
    top: 15px;
    right: 15px;
} 
.item.w2.h2 .recommend,.item.w2.h2 .bighot{
    top: 30px;
    left: 30px;
} 
