/*分类列表*/
#classList {
	position: relative;
	padding-bottom: 10px;
}
/*空间和商品分类box*/
#spaceBox, #goodsBox {
	float: left;
	font-size: 14px;
	line-height: 45px;
	font-weight: 600;
}
/*header部分banner */
.banner {
	float: left;
	width: 55%;
}
/*广告栏*/
.glAd1 {
	text-align: center;
}
.glAd1 img {
	width: 393px;
	border: 1px solid #ccc;
}
.glAd2 {
	margin: 10px 0;
}
.glAd2 img {
	float: left;
	width: 24.25%;
	margin-right: 1%;
	border: 1px solid #ededed;
}
.glAd2 img.last {
	margin: 0;
}
/*详细分类*/
.floor {
	margin-top: 10px;
	background: url(../images/floorIcon.png) no-repeat;
}

.floor .title {
	height: 46px;
	color: #017DC7;
	font-weight: 600;
	border-bottom: 2px solid #017DC7;
	display: block;
	position: relative;
	float: left;
	width: 100%;
}
.floor .title>div {
	float: left;
	width: 270px;
	font-size: 25px;
	padding-top: 4px;
	padding-left: 20px;
	position: relative;
}
.floor .title>div>i {
	top: 4px;
	font-size: 28px;
	position: relative;
	font-family: fantasy;
}
.floor .tab {
	padding-top: 10px;
}
.floor .tab li {
	font-size: 14px;
	text-align: center;
	float: left;
	color: #000;
	width: 92px;
	height: 36px;
	line-height: 37px;
}
.floor .tab li:hover, .floor .tab li.on {
	cursor: pointer;
	color: #FFF;
	background-color: #017DC7;
}
.floor .floorLeft {
	float: left;
	color: #666;
	width: 22.5%;
	height: 525px;
	font-size: 14px;
	border: 1px solid #ddd;
	position: relative;
}
.floor .floorLeft ul {
	padding: 20px;
}
.floor .floorLeft p {
	margin: 1em 0;
	font-weight: 600;
}
.floor .floorLeft a {
	color: #999;
	padding-right: 10px;
}
.floor .floorLeft img {
	position: absolute;
	bottom: 0;
}
/*主体部分*/
.packer {
	float: left;
	width: 77.5%;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.packer .container {
	display: none;
}
.packer .item {
	height: 262px;
	border-left: 1px solid #ededed;
	cursor: pointer;
}
.packer .item.h2 {
	height: 524px;
}
.packer .item.h3 {
	height: 786px;
}
.packer .item.lastLogo img{
	float:left;
	width:100%;
	max-width: 50%;
	cursor:pointer;
	height: 100%;
	max-height:33.34%;	
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
}
.packer div.item.w2,.packer div.item.w3,.packer div.item.lastLogo{
	border-left: none;
}
.packer .slider{
	width:681px;
	float: left;
}
.packer .rollBox{
	height: 265px;
	float: left;
}
 #imgBox li{
	width: 681px;
}
.packer .rollBox li img{
	width: 100%;
}
.packer .case img{
	float:left;
	width:50%;
}
.packer .designer{
	width: 248px;
	height:467px;
	float: left;
}
.packer .designer div{
	height:89px;
	cursor:pointer;
	overflow:hidden;
}
.packer .designer div.on{
	height:258px;
}
.packer .designer img{
	float:left;
	width:100%;
}


