/*
	悬浮下拉菜单需要增加的样式.(其他样式继承自Global.css)
*/
/*导航栏*/
#nav {
	position: relative;
	z-index: 1;
}
#nav .space, #nav .goods {
	cursor: pointer;
}
/*空间、商品分类列表*/
#spaceBox, #goodsBox {
	display: none;
	position: absolute;
}
#spaceBox .hideList {
	left: 100%;
	min-width: 400px;
}
#goodsBox .hideList {
	right: 100%;
	min-width: 400px;
}
/*
	悬浮下拉菜单样式 End
*/


/*商品地址*/
#location {font-size:14px;line-height:54px;}
#location b{font-size:18px; margin-left:5px;}
#location a{cursor:pointer; margin:0 5px;}
/*商品左侧*/
#main .detailsLeft{width: 930px;overflow: hidden;float: left;}
/*商品图片信息*/
.dsLeft{width:350px;overflow: hidden;float: left;} 
.dsLeft2{width:350px;overflow: hidden;float: left;}
.dsLeft .dsImg img{width: 350px;height: 350px;border: 1px solid #dddddd;}
.k_top{ position:absolute;bottom: 0;right: 0;}
/*商品图片滚动*/
.dsScroll .aspect{
	float: left;
	width: 17px;
	height: 52px;
	color: #dddddd;
	cursor: pointer;
	line-height: 52px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.dsScroll .picWrap{width:300px;float: left;margin: 0 8px;overflow: hidden;}
.dsScroll .picWrap div{width: 9999px;position: relative; left:20;}
.dsScroll .picWrap img{width: 50px;height: 50px;margin-right: 12px;padding: 1px;float: left;border: 1px solid #cecfce; cursor:pointer;}
.dsScroll .picWrap img:hover, .dsScroll .picWrap img.on{padding: 0;border: 2px solid #e73737;}

/*商品图片信息详情*/
.dsRight {line-height:24px;}
.dsRight{width:560px;overflow: hidden;float:right;}
.dsRight .dsrightHead{border-bottom: 1px dotted #D1D1D1;padding-bottom: 10px;margin-bottom: 10px;font-size:16px;}
.dsRight .dsrightHead u{color:#df0000;}
/*商品图片信息详情头部结束*/
/*商品图片信息详情第二块*/
.dsRight .userId{width:90px;height:17px;line-height:17px;background:#b4b4b4;color:#fff;text-align:center;	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.dsRight .price{ font-size:14px;}
.dsRight .price b{ font-size:18px; color:#df0000;}

.productPrice .sale{color:#fc5060;}
.productScore i{color:#ffcc00;font-size:16px;	margin: 0 2px;}
.productScore .num{color:#33b4d3;}

.dsRight .productSupport .support{width: 58px;height: 17px;line-height: 17px;color: #fff;background: #76b800;border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
display: inline-block;text-align: center;}
.dsRight .productPrompt{padding-bottom:10px;border-bottom: 1px dotted #D1D1D1;}
/*商品图片详情第三块*/
.dsRight .productbottom{padding:15px;}
.productstyleDw{position: relative;left: 63px;top: -22px;}
.productStyle .productstyleImg{display: inline-block;border: 1px solid #CCC;position: relative;padding: 3px 5px 0 0; cursor:pointer;}
.productStyle .productstyleImg img{float: left;}

.productbottom .productChoice{height: 30px;}
.productbottom .productChoice .choiceLong{width:43px;height:24px;border:1px solid #ccc;text-align:center;margin-right:8px;display:inline-block;position: relative; cursor:pointer;}
.productbottom .productChoice .choiceLong img{position: absolute;bottom:0px;right:0px;}

.productbottom .productNum{line-height: 40px;}
.productNum .subtract,.productNum .add{padding: 0px 5px;border: 1px solid #DFDFDF;cursor: pointer;}
#nums { width: 47px;line-height: 23px;text-align: center;margin: 0px 2px;border: 1px solid #CCC;}
#result{color:#df0000;}
/*加入购物车*/
.productBuy .tb-btn-sku{float: left;display: block;}
.productBuy .tb-btn-sku b{float: left;overflow: hidden;position: relative;width: 135px;height: 42px;line-height: 42px;background-color: #de0000;color: #fff;font-size: 18px;text-align: center; cursor:pointer;}
.productBuy .tb-btn-sku b:hover{background-color: #000;}
.tb-btn-sku i{font-family: tm-detail-font;font-style: normal;width: 16px;
line-height: 38px;display: inline-block;vertical-align: middle;margin: -3px 3px 0px 0px;}
.tb-btn-sc{width:80px;height:42px;line-height:42px;background-color: #24a9d2;color: #fff;font-size: 18px;text-align: center; cursor:pointer;display: block;float: left;margin-left: 12px;}
.tb-btn-sc:hover{background-color: #1584a3;}
.productbottom .mBuy{float: left;border: 1px solid #DDD;
padding-left: 10px;padding-right: 70px;background: url("http://misc.360buyimg.com/product/item/1.0.1/css/i/m-buy.png") no-repeat scroll right 3px transparent;cursor: pointer;
margin-left: 12px;margin-top: -3px;}
.mBuy .mt{cursor: pointer;padding-top: 7px;line-height: 12px;white-space: nowrap;}
.mBuy .hlRed{clear: both;white-space: nowrap;color: #E4393C;}
/*商品右侧*/
#main .detailsRight{width:210px;border:1px solid #ccc;float: right;}
.detailsRight .rightHead{height:40px;line-height:40px;border-bottom:1px solid #ccc;}
.detailsRight .rightHead .Mj{float: left;padding-left: 10px;}
.detailsRight .rightHead .name{color:#627f9f;}
.detailsRight .rightScore{height: 40px;line-height: 40px;text-align: center;border-bottom: 1px solid #CCC;}
.detailsRight .rightScore .score{float:left;padding-left: 12px;}
.detailsRight .rightScore .rightscoreLast{position: relative;float: left;overflow: hidden;top: 17px;
width: 80px;height: 6px;display: inline-block;border-radius: 3px;background-color: #efe9eb;}
.detailsRight .rightScore .rightscorePro{position: relative;float: left;
overflow: hidden;top: 11px;width: 69px;background-position: 0px -18px;height:6px;display: inline-block;background: #d7161b;border-radius: 3px;}
.detailsRight .rightScore i{color: #df0000;position: relative;top: 2px;left: 3px;}
.detailsRight .rightSd{padding:12px 12px 0;}
.detailsRight .rightSd .sdLeft{float:left;}
.detailsRight .rightSd .sdRight{float:right;}
.detailsRight .rightSd .sdRight .sdrightRed{color:#d31a2c;}
.detailsRight .rightSd .sdRight .sdrightRed i{position: relative;top: 3px;right: 3px;}
.detailsRight .rightSd .sdRight .sdrightBlue{color:#76a800;}
.detailsRight .rightSd .sdRight .sdrightBlue i{position: relative;top: -2px;right: 3px;}
.rightSd li{padding-bottom: 10px;}
.detailsRight .rightContact b{width: 106px;
cursor:pointer;
height: 28px;
line-height: 28px;
color: #fff;
background: #d41a1b;
display: inline-block;
text-align: center;}
.detailsRight .rightContact b:hover{background: black;}
.detailsRight .rightContact i{font-size: 19px;margin: 0 7px 0 0;}
.rightContact{border-top: 1px solid #ccc;height: 40px;line-height: 40px;}
.rightContact .C{float:left;padding-left: 13px;}
.detailsRight .rightGs{border-top: 1px solid #ccc;padding:0px 10px 0px 10px;}
.detailsRight .rightGs li{padding-top:10px;}
.rightJr{height: 30px;color: #FFF;background: none repeat scroll 0% 0% #ABABAB;cursor:pointer;text-align: center;padding-top: 8px;margin-top:8px;font-weight: 600;}
/*详细介绍*/
.case .title {
	height: 35px;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 2px solid #1badd5;
}
.case .caseImg>div {
	float: left;
	width: 25%;
}
.case .caseImg img {
	float: left;
	width: 100%;
}

#dateil {
	margin-top:20px;
}
#dateil>div {
	float: left;
}
#dateil .dateilLeft {
	width: 270px;
	margin-right: 20px;
}
#dateil .dateilLeft>div {
	border: 1px solid #dadada;
	background-color: #dadada;
}
#dateil .seach {
	margin-bottom:15px;
}
.seach>div{
	font-size:14px;
	margin-top: 1px;
	padding: 0 18px;
	background-color: #f7f7f7;
}
#dateil .boxTitle {
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	font-weight: 600;
	padding-left: 17px;
	background-color: #ededed;
}

.slideImg{
	background-size:100% 100%;
	width:270px;
	height:270px;
	position:relative;
}
.slideImg div.content{
	opacity: 0;
	cursor: pointer;
	transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-webkit-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	bottom: 0;
	width: 100%;
	height: auto;
	color: #000;
	font-size: 13px;
	padding: 10px 10px 5px;
	position: absolute;
	background-color: rgba(255, 255, 255, .7);
}
.slideImg:hover div.content{
	opacity: 1;
}
.slideImg div.content b{
	color:#F00;
}
.slideImg div.content div{
	color: #ffcc00;
	padding: 0 5px;
	font-size: 16px;
	width: auto;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: rgba(0, 0, 0, .35);
}
.slideImg div.content div i{
	margin:0 3px 0 0;
}
#dateil .listTitle {
	height:30px;
	cursor:pointer;
	margin-top:1px;
	font-size:14px;
	line-height:30px;
	padding-left:18px;
	background-color:#ededed;
}
#dateil .listTitle i {
	color:#CCC;
	font-size:14px;
}
.listTitle i:before{
	content: "\f056";
}
.listTitle i.fa-plus-circle:before{
	content: "\f055";
}
#dateil .classList {
	margin-top: 1px;
	line-height: 24px;
	padding: 8px 0 8px 42px;
	background-color: #f7f7f7;
}
#dateil .classList li span{
	cursor:pointer;
	padding: 2px 5px;
	line-height: 35px;
	background-color:#FFF;
	border: 1px solid #dadada;
}
#dateil .seach .keyWord{
	height:60px;
	line-height: 60px;
}
#dateil .seach .keyWord input {
	width: 175px;
	height:35px;
	padding:10px;
	border:1px solid #dadada;
}
#dateil .seach .price{
	height:110px;
}
#dateil .seach .price u{
	top: 20px;
	position: relative;
}
.price .arrow{
	position: absolute;
	left: 20px;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 6px;
	border-style: dashed dashed solid dashed;
}
#priceEnd .arrow{
	top: -12px;
	border-color: transparent transparent #6fad0d transparent;
}
#priceTop .arrow{
	top: 26px;
	border-color: #6fad0d transparent transparent transparent;
}
#priceTop, #priceEnd{
	color: #FFF;
	width: 53px;
	height: 26px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	position: relative;
	background-color: #6fad0d;
	margin-left: -2em;
}
#priceTop{
	margin-bottom: 12px;
	left: 78.26086956521739%;
}
#priceEnd{
	margin-top: 10px;
	left: 17.391304347826086%;
}
.dateilRight {
	width: 910px;
	position:relative;
}
.dateilRight .bor{
	border: 1px solid #dddddd;
}
.dateilRight .topBtn a{
	float:left;
	width:105px;
	height:45px;
	font-size:14px;
	cursor:pointer;
	line-height:45px;
	text-align:center;
	display:inline-block;
	background-color:#ededed;
}
.dateilRight .topBtn a:hover, .dateilRight .topBtn a.on{
	color:#FFF;
	background-color:#383838;
}
.dateilRight img{
	float:left;
	width:100%;
}
.dateilRight .sidebar{
	float:left;
	width:90px;
	font-size:14px;
	font-weight:600;
	right:0;
	position:fixed;
	padding:0px 14px;
	border:1px solid #ddd;
	background-color:#ededed;
}
.dateilRight .sidebar div{
	height:50px;
	cursor:pointer;
	line-height:50px;
	border-bottom:1px solid #9e9e9e;
}
.dateilRight .sidebar div:hover, .dateilRight .sidebar div.on{
	color:#1badd5;
}
.dateilRight .sidebar div.last{
	border:none;
}


