﻿
/* hiker */

.mainslider {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	min-height: 400px;
}
.mainslider .slides {
	position: absolute;
	bottom: 44px;
	top: 0;
	right: 0;
	left: 0;
}
.mainslider .slides ul {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #d7d7d7;
}
.mainslider .slides li {
	position: absolute !important;
	top: 0;
	left: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100%;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s ease-in, visibility 0s linear .5s;
	-moz-transition: opacity .5s ease-in, visibility 0s linear .5s;
	-o-transition: opacity .5s ease-in, visibility 0s linear .5s;
	-ms-transition: opacity .5s ease-in, visibility 0s linear .5s;
	transition: opacity .5s ease-in, visibility 0s linear .5s;
	width: 100%;
}
.mainslider .slides li.current-item {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .5s ease-in;
	-moz-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
	-ms-transition: opacity .5s ease-in;
	transition: opacity .5s ease-in;
}

.mainslider .slides li .description {
	position: absolute;
	bottom: 16%;
	opacity: 1;
}

.mainslider .slides li .description p {
	font-size: 24px;
	color: white;
	max-width: 400px;
	line-height: 28px;
	margin-bottom: 30px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .35);
}
.mainslider nav {
	bottom: 0;
	left: 0;
	position: absolute;
	height: auto;
	background-color: white;
	width: 100%;
}
.mainslider nav .nav {
	height: 100%;
	width: 80%;
	float: right;
	position: relative;
	z-index: 1;
}
.mainslider nav ul {
	height: 100%;
	position: relative;
	width: 100000px;
}
.mainslider nav li {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding: 20px;
	position: relative;
	cursor: pointer;
}
.mainslider nav li:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 14px;
	bottom: 14px;
	width: 1px;
	background-color: rgba(0, 0, 0, .15);
}
.mainslider nav li:last-child:after {
	display: none;
}
.mainslider nav li .thumbnail {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity .25s ease-in, bottom .1s ease-in;
	-moz-transition: opacity .25s ease-in, bottom .1s ease-in;
	-o-transition: opacity .25s ease-in, bottom .1s ease-in;
	-ms-transition: opacity .25s ease-in, bottom .1s ease-in;
	transition: opacity .25s ease-in, bottom .1s ease-in;
	z-index: 4;
}
.mainslider nav li:hover{
	color:#0dbbdd;
}
.mainslider nav li:hover .thumbnail {
	visibility: visible;
	bottom: 60px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.mainslider nav li .thumbnail:before,.mainslider nav li .thumbnail:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border-top: solid 2px #cbcbcb;
	z-index: 5;
}
.mainslider nav li .thumbnail:before {
	width: 15px;
	left: 0;
}
.mainslider nav li .thumbnail:after {
	width: auto;
	left: 27px;
	right: 0;
}
.mainslider nav li .thumbnail .pointer {
	position: absolute;
	bottom: 0;
	left: 15px;
	height: 8px;
	width: 12px;
	background: transparent url(../images/pointer_home.png);
	z-index: 6;
}
.mainslider nav li .progress-bar {
	position: absolute;
	top: -4px;
	left: 0;
	width: 100%;
	height: 4px;
	border-top: 1px solid rgba(255, 255, 255, .5);
	background: transparent;
}
.mainslider nav li .progress {
	height: 100%;
	width: 0;
	-webkit-transition: background-color .5s ease-in, opacity .25s ease-in;
	-moz-transition: background-color .5s ease-in, opacity .25s ease-in;
	-o-transition: background-color .5s ease-in, opacity .25s ease-in;
	-ms-transition: background-color .5s ease-in, opacity .25s ease-in;
	transition: background-color .5s ease-in, opacity .25s ease-in;
}
.mainslider nav li.next-item .progress {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background-color: rgba(255, 255, 255, .5);
}
.mainslider nav li.current-item .progress {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	width: 100% !important;
	background-color: black;
}
.mainslider nav .more {
	height: 61px;
	width: 20%;
	margin-top: -4px;
	position: absolute;
	z-index: 2;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
}
.mainslider nav .more i{
	font-size: 20px;
}
.mainslider nav .more a{
	color: #FFF;
	display:table-cell;
	vertical-align:middle
}
.mainslider nav .more, .mainslider nav li.current-item .progress {
	background-color: #0dbbdd;
	display:table;
}
#slider01 .description {
	right:5%;
}
#slider01 .description a {
	float:right;
}
#slider02 .description {
	left:5%;
}
#slider02 .description a {
	float:left;
}
#slider03 .description {
	right: 14%;
}
#slider03 .description a {
	float:right;
}
#slider04 .description {
	left:5%;
}
#slider04 .description a {
	float:left;
}
