﻿/*!
 *  首页独有style
 */
/* 全局*/
#main {
	margin: 0;
	width: 100%;
}
/* 头部*/
#headerBg{
	z-index: 30;
	position: relative;
	filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=180) progid:DXImageTransform.Microsoft.gradient(startcolorstr=rgba(0, 0, 0, .8),endcolorstr=rgba(0, 0, 0, 0),gradientType=0);
	-ms-filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=180) progid:DXImageTransform.Microsoft.gradient(startcolorstr=rgba(0, 0, 0,.8),endcolorstr=rgba(0, 0, 0, 0),gradientType=0);/*IE8*/
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 15.38%, rgba(0, 0, 0, .8) 100%); 
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 15.38%, rgba(0, 0, 0, .8) 100%); 
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, .1) 15.38%, rgba(0, 0, 0, .8) 100%);
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 15.38%, rgba(0, 0, 0, .8) 100%);
}
#header {
	z-index: 1;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}
/* logo*/
#header .logo {
	float: left;
	margin-left: 15px;
}
/* 导航栏*/
#header .nav {
	color: #FFF;
	float: right;
	margin-right: 50px;
}
#header .nav a {
	color: #a7a7a7;
	font-size: 12px;
	font-weight: normal;
}
#header .nav a:hover{
	color: #fff;
}
#header .nav a.rightBorder{
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid #888;
}

/* 购物车图标*/
#header .shopIcon {
	float: right;
	width:170px;
}
#header .shopIcon img {
	float: right;
	margin-left: 15px;
}
#header .searchIcon {
	float:right;
	width: 71px;
	height: 71px;
	display: none;
	font-size: 2em;
	line-height:64px;
	text-align: center;
	border: 1px solid #fff;
}
.homepage #header a.carticon {
	border: 1px solid white;
	width: 70px;
	float:right;
	margin-left:20px;
}

.homepage #header a i.fa.fa-shopping-cart {
	color: white;
}
.homepage #header a.carticon:hover {
	background-color: rgba(255,255,255,0.3);
}
/*搜索栏*/
#main .searchTab {
	margin: 105px auto;
}
#main .searchTab .classTab .close {
	width: 39px;
	font-size: 20px;
	background-color: #d0d0d0;
	transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
}
#main .searchTab .classTab .close i{
	vertical-align: 0%;
}

/*头部工具栏部分*/
#topLayer {
	z-index: 50;
	width: 100%;
	color: #FFF;
	line-height: 44px;
	position: fixed;
	top: 0;
	background: rgba(255,255,255,.8);
	box-shadow: 0 5px 8px rgba(0,0,0,.1);
}
#wishLayer{
	background-color:#000;
}
#wishHide{
	padding:20px;
	display: none;
}
#arrowDown{
	left: 0;
	right: 0;
	height: 19px;
	bottom: -12px;
	margin: 0 auto;
	cursor:pointer;
	position: absolute;
	text-align: center;
}

#toolBar {
	width: 100%;
	color: #FFF;
	display: none;
	line-height: 44px;
	background: rgba(255,255,255,.8);
	box-shadow: 0 5px 8px rgba(0,0,0,.1);
}
#toolBar>div {
	float: left;
	height: 44px;
}
/*头部工具栏空间分类部分*/
#toolBar .space, #toolBar .goods {
	width: 22.5%;
	font-size: 14px;
	font-weight: 600;
}
#toolBar .space {
	background-color: #1badd5;
}
#toolBar .space>div, #toolBar .goods>div {
	width: 90%;
	margin: 0 auto;
}
/*头部工具栏风格分类部分*/
#toolBar .city {
	width: 25%;
	font-size: 13px;
	position: relative;
}
#toolBar .styles .button, #toolBar .city .button {
	height: 28px;
	width: 100px;
	margin-top: 8px;
	line-height: 28px;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#toolBar .styles .button {
	float: right;
	background-color: #1badd5;
}
#toolBar .logo {
	width: 30%;
	text-align: center;
	display: table;
}
#toolBar .logo img{
	display: table-cell;
	margin:0 auto;
	vertical-align: middle;
	position: relative;
	margin-top: 4px;
}
/*头部工具栏位置选择部分*/
#toolBar .city .button {
	float: left;
	background-color: #6FAD0E;
}
#choosedCity {
	color: #6fad0d;
	font-weight: 600;
}
/*头部工具栏商品分类部分*/
#toolBar .goods {
	width: 22.5%;
	font-size: 14px;
	font-weight: 600;
	background-color: #6FAD0E;
}
#toolBar .downIcon {
	float: right;
	margin-top: 14px;
}
#toolBar .space>i, #toolBar .goods>i {
	font-size: 1.2em;
}
#spaceBox, #goodsBox {
	width: 100%;
	display: none;
}
/*风格选择部分*/
#stylesBox {
	top: 44px;
	left: 54%;
	width: 50%;
	display: none;
	overflow: hidden;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
}
#stylesBox ul {
    border: 1px solid #1badd5;
}
#stylesBox li {
	color: #1badd5;
	font-size: 12px;
	line-height: 35px;
	font-weight: 300;
	text-align: center;
}
#stylesBox li:hover, #stylesBox li.on {
	color: #FFF;
	background-color: #1badd5;
}
/*位置选择*/
#cityBox {
	top: 0px;
	display: none;
	width: 384px;
	line-height: 25px;
	position: relative;
}
#cityBox .cityBody {
	padding: 5px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #6fad0d;
}
#cityBox .cityNav {
	height: 22px;
	padding: 0;
	margin: 5px 10px;
	border: 1px solid #6fad0d;
}
#cityBox .cityNav li {
	width: 70px;
	float: left;
	color: #6fad0d;
	line-height: 20px;
	text-align: center;
}
#cityBox .cityNav li:hover{
	background-color:#6fad0d;
	color: white;
}
#cityBox .cityNav li.on {
	font-weight: 600;
	background-color: #6fad0d;
	color: white;
	border-bottom: none;
}
#cityBox .cityList ul {
	display: none;
	padding: 0 10px;
}
#cityBox .cityList ul li {
	float: left;
	color: #6fad0d;
	cursor: pointer;
	padding: 1px 6px;
	white-space: nowrap;
	font-size: 12px;
}
#cityBox .cityList ul li:hover{
	background-color: #6fad0d;
	color: white;
}
/*主体部分*/
#packer .item {
	width: 20%;
	cursor: pointer;
	display: block;
}
#packer .item.w2 {
	width: 40%;
}
#packer .item.w3 {
	width: 60%;
}
.searchTab .classTab>div, 
#toolBar .space, 
#toolBar .styles div, 
#toolBar .city>div, 
#toolBar .goods, 
#header .shopIcon,
#header .searchIcon, 
.lastCol img {
	cursor: pointer;
}
a.styleblock {
	display: block;
	width: 100%;
	height: 100%;
}

.full{
	width:100%;
}

.tem1{
	text-align:center;
}
.tem1 .fly{
	margin:35px 0 18px;
}
.tem1 .full{
	left:0;
	bottom:0;
	position:absolute;
}

.tem2{
	font-size: 16px;
}
.tem2 img{
	float: left;
	margin:4%;	
}
.tem2 s{
	top: 8%;
	left: 18%;
	position: absolute;
}
.tem2 u{
	left: 8%;
	bottom: 8%;
	position: absolute;
}
.tem2 b{
	font-size: 100px;
	font-style: italic;
}
.tem2 a.button{
	font-size:12px;
	left:40%;
	bottom: 16%;
	padding: 10px 20px;
	font-size: 16px;
}

.tem3.button{
	color:#fff;
	border-color:#fff;
	left: 9%;
	bottom:10%;
	font-size: 16px;
	padding: 10px 20px;
}
a.button.tem3:hover {
	background-color:white;
	color:#915453;
}
.tem4.button{
	color:#600;
	border-color:#600;
	left:50%;
	margin-left:-53px;
	bottom:20%;
	font-size:16px;
	padding: 10px 20px;
}
a.button.tem4:hover{
	color:white;
	background-color:#794538;
}
.tem5.button{
	color:#3c5073;
	border-color:#3c5073;
	left:10%;
	font-size:16px;
	padding: 10px 20px;
	bottom:10%;
}
a.button.tem5:hover{
	color:white;
	background-color:#324b80;
}
.designer .content{
	line-height:24px;
}
.designer .content b{
	font-size:14px;
}
.designer .content u{
	height:30px;
	padding:0 10px;
	line-height:26px;
	margin:10px 10px 0px 0;
	border:1px solid #fff;
	display:inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.designer .content a.gthp{
	height:33px;
	width: 8em;
	padding:0 20px;
	line-height:33px;
	font-weight:600;
	margin-top: 10px;
	cursor:pointer;
	background-color:#0DBBDD;
	display:inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: all 200ms linear;
	cursor: pointer;
	color: white;
}
.designer .content a.gthp:hover{
	background-color:#008CA8;
}

.designer .content div{
	bottom:5%;
	right: 10px;
	padding: 0 5px;
	font-size:14px;
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: rgba(0, 0, 0, .35);
}
.designer .content div i{
	margin: 0 5px;
}
.designer .content div .fa-star{
	vertical-align: 0%;
}


.tem6.button{
	top:42%;
	left:50%;
	margin-left:-53px;
	padding:10px 20px;
	font-size:16px;
}

img.topR{
	top:5%;
	right:2.5%;
	cursor:pointer;
	position:absolute;	
}
img.endL{
	left:5%;
	bottom:5%;
	cursor:pointer;
	position:absolute;	
}

.tem7.button{
	left:35%;
	bottom:15%;
}
.tem8 {
	padding-top:10%;
	font-size:14px;
	text-align:center;
}

.slides .description a{
	border: 1px solid #fff;
	padding: 10px 18px;
	color: #fff;
	margin: 10px auto;
	width: 7em;
	display: block;
	font-weight: 600;
	font-size:16px;
	text-align:center;
}

a.button:hover,
.designer .content s:hover,
.slides .description a:hover,
#main .searchTab .classTab .close:hover{background: black;color:white;}

.slides .description a:hover{border: 1px solid black;}

.homepage .shopList {
    top: 101px;
    right: 20px;	
}
.homepage .shopList .shopTop {
	border-bottom: none;
	height:auto;
	padding: 20px;
	border: 1px dashed #78daec;
}
.homepage .shopList h3 {
	color: #78daec;
	font-weight: normal;
}
.homepage .goodsTotal {
	text-align: center;
}
.homepage .goodsTotal a {
	padding: 5px 35px;
	background-color: #1fccee;
	transition: all 200ms linear;
	color:white;
	font-size: 16px;
	font-weight: bold;
}
.homepage .goodsTotal a:hover {
    background-color: black;
}