/*
	顶部样式.(其他样式继承自Global.css)
*/

#main{
	margin:0 auto;
}
#head{
	margin: 20px 0;
}
#head>div{
	float:right;
}
#head>div.logo{
	float:left;
}
#head>div.step{
	text-align:right;
	padding-right:30px;
}
#head>div.step img{
	margin-top:35px;
}
#head .shopIcon{
	padding-top: 20px;
	position: relative;
}
/*
	顶部样式 End
*/

.cartHead {
	line-height: 35px;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.cartHead u{
	font-size:20px;
	margin-left:15px;
}
.cartHead s.city{
	height:32px;
	width:190px;
	margin:0 20px;
	cursor:pointer;
	padding:0 10px;
	line-height:32px;
	position:relative;
	display:inline-block;
	border:1px solid #e5e5e5;
}
.cartHead s.city i{
	top: 10px;
	float: right;
	color:#bcbcbc;
	position: relative;
}
.cartHead img{
	top: 14px;
	position: relative;
}
.cartTh{
	height:50px;
	line-height:50px;
	text-align:center;
}
.cartTh>div{
	float:left;
	width:130px;
}
.cartTh input[type="checkbox"]{
	margin: 0 10px;
}
.cartTh>div.goodsChk{
	text-align:left;
}
.cartTh>div.goodsItem{
	text-align:left;
	width:285px;
}
.orderInfo {
	width:980px;
	float:left;
	margin-top:20px;
	border:1px solid #ddd;
}
.orderInfo>div {
	padding:20px;
	line-height:35px;
	border-bottom:1px solid #ddd;
}
.orderInfo>div span {
	width:130px;
	text-align:right;
	display:inline-block;
}
.orderInfo>div input[type="text"]{
	padding:0 5px;
	height:25px;
	border:1px solid #ddd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.orderInfo .title {
	height: 35px;
	font-size:16px;
	line-height:33px;
	padding:0 20px;
	font-weight:600;
	background-color: #f7f7f7;
}
.orderInfo .bWord {
	height: 40px;
	font-size:14px;
	line-height:40px;
}
.orderInfo input {
	margin:0 10px;
}
.orderInfo s.btn{
	width: 130px;
	color: #6C9;
	line-height:32px;
	margin:15px 30px;
	text-align: center;
	border: 2px solid #6C9;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.orderInfo .bWord .back{
	float:right;
}
.orderInfo .orderList{
	border: 1px solid #ddd;
}
.orderInfo .prompt{
	color:#fff;
	height:50px;
	line-height:50px;
	padding-left:40px;
	background-color:#0C9;
}
.orderList .cartTh{
	padding:15px 0;
	line-height:30px;
}
.orderList .cartTh.top{
	padding:10px 0;
}
.orderList .cartTh.top input{
	top:0;
}
.orderList .cartTh input{
	top:-30px;
	position:relative;
}
.orderList .cartTh s{
	color:#929292;
	text-decoration:line-through;
}
.orderList .cartTh img{
	border:1px solid #e5e5e5;
}
.orderList .cartTh b{
	color:#d60000;
	font-size:14px;
}

.orderInfo .sum{
	text-align:right;
	padding:20px;
}
.orderInfo .sum span{
	float:right;
	width:120px;
	display:inline-block;
}
.orderInfo .coupon{
	padding-left:20px;
	line-height:50px;
	background-color:#F7F7F7;
}
.orderInfo .coupon>div{
	border-bottom: 1px solid #ccc;
}
.orderInfo .coupon>div.last{
	height:50px;
	border-bottom:none;
}
.orderInfo .coupon u{
	color: #FFF;
	width: 70px;
	height: 25px;
	line-height:25px;
	text-align: center;
	display: inline-block;
	background-color: #6C9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#cityBox{
	top: 31px;
	position: absolute;
}
#cityBox .cityBody{
	border-color: #B6B6B6;
}

#buyNow{
	float: left;
	width: 220px;
	padding-top:20px;
	text-align: center;
	position:relative;
}
#buyNow .buy{
	width:160px;
	height:40px;  
	color: #FFF;  
	font-size:16px;  
	cursor: pointer; 
	line-height: 40px;  
	text-align: center;
	display: inline-block;
	background-color: #d51b1b;
}
