/*
	顶部样式.(其他样式继承自Global.css)
*/

#main{
	margin:0 auto;
}
#head{
	margin: 20px 0;
}
#head>div{
	float:right;
}
#head>div.logo{
	float:left;
}
#head>div.step{
	text-align:right;
}
#head>div.step img{
	margin-top:35px;
}
#head .shopIcon{
	padding-top: 20px;
	position: relative;
}
/*
	顶部样式 End
*/

.cartHead {
	line-height: 35px;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.cartHead u{
	font-size:20px;
	margin-left:15px;
}
.cartHead s.city{
	height:32px;
	width:190px;
	margin:0 20px;
	cursor:pointer;
	padding:0 10px;
	line-height:32px;
	position:relative;
	display:inline-block;
	border:1px solid #e5e5e5;
}
.cartHead s.city i{
	top: 10px;
	float: right;
	color:#bcbcbc;
	position: relative;
}
a.goOnBuy{
	color:#FFF;
	float:right;
	padding: 2px 30px;
	font-size: 14px;
	margin: 15px 0;
	cursor:pointer;
	line-height:32px;
	text-align:center;
	display:inline-block;
	border:1px solid #3ab718;
	background-color:#60d142;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	transition: all 200ms linear;
}
a.goOnBuy:hover {
	background: black;
	border: 1px solid black;
}
.cartHead a.goOnBuy{
	margin:0;
}
.cartTh{
	height:50px;
	line-height:50px;
	text-align:center;
}
.cartTh>div{
	float:left;
	width:150px;
}
.cartTh input[type="checkbox"], #goodsList .listEnd input[type="checkbox"]{
	margin: 0 15px;
}
.cartTh>div.goodsChk{
	text-align:left;
}
.cartTh>div.goodsItem, .cartTh>div.goodsName{
	text-align:left;
	width:310px;
}
.cartTh>div.goodsName u{
	color:#3397dc;
	margin-left:15px
}
#goodsList{
	border:1px solid #c5c5c5;
}

#goodsList>div{
	border-top:1px solid #e5e5e5;
}
#goodsList .title{
	height:45px;
	padding:10px;
	border-top:none;
}
#goodsList .title u{
	color:#fff;
	width:77px;
	height:24px;
	text-align:center;
	line-height:24px;
	margin:0 13px 0 30px;
	display:inline-block;
	background-color:#d60000;
}
#goodsList .cartTh{
	padding:15px 0;
	height:100px;
	line-height:30px;
	background-color:#fafafa;
}
#goodsList .cartTh input[type="checkbox"]{
	top:-30px;
	position:relative;
}
#goodsList .cartTh s{
	color:#929292;
	text-decoration:line-through;
}
#goodsList .cartTh u{
	color:#fff;
	width:20px;
	height:20px;
	cursor:pointer;
	line-height:20px;
	margin-right:8px;
	text-align:center;
	display:inline-block;
	border:1px solid #3ab718;
	background-color:#60d142;
}
#goodsList .cartTh img{
	border:1px solid #e5e5e5;
}
#goodsList .cartTh b{
	color:#d60000;
	font-size:14px;
}
#goodsList .cartTh input[type="text"]{
	width:65px;
	height:35px;
	text-align:center;
	border:1px solid #c5c5c5;
}
#goodsList .cartTh i{
	width:30px;
	height:18px;
	color:#898989;
	cursor:pointer;
	line-height:18px;
	text-align:center;
	position:relative;
	border:1px solid #c5c5c5;
	border-left:none;
}
#goodsList .cartTh i.fa-sort-asc{
	top: -7px;
	line-height: 24px;
}
#goodsList .cartTh i.fa-sort-desc{
	top: 4px;
	left: -30px;
	line-height: 11px;
}
#goodsList .listEnd{
	line-height: 80px;
	color:#5c5c5c;
}
#goodsList .toRight{
	width:80%;
	float:right;
	line-height: 20px;
	padding:20px 40px;
	text-align:right;
}
#goodsList .toRight s{
	text-decoration:line-through;
}
#goodsList .toRight b{
	color:#f60000;
	font-size:14px;
}
.accounts{
	padding:27px;
	background-color:#fafafa;
}
.accounts>div{
	float:left;
	width:50%;
}
.accounts .opt{
	padding:15px 0;
}
.accounts .opt u{
	width:60px;
	margin-left:15px;
	cursor:pointer;
	display:inline-block;
}
.accounts .sum {
	text-align:right;
}
.accounts .sum b{
	color:#f60000;
	font-size:20px;
}
.accounts .sum a{
	float:right;
	color:#fff;
	padding: 0 45px;
	cursor:pointer;
	line-height:45px;
	font-size:16px;
	margin-left: 15px;
	text-align:center;
	background-color:#d60000;
	border:1px solid #8a0303;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.accounts .sum a:hover {
	background-color:black;
	border: 1px solid black;
	transition: all 200ms linear;
}

#cityBox{
	top: 31px;
	position: absolute;
}
#cityBox .cityBody{
	border-color: #B6B6B6;
}