/*
	悬浮下拉菜单需要增加的样式.(其他样式继承自Global.css)
*/

#nav {
	position: relative;
	z-index: 1;
}
#nav .space, #nav .goods {
	cursor: pointer;
}
/*空间、商品分类列表*/
#spaceBox, #goodsBox {
	display: none;
	position: absolute;
}
#spaceBox .hideList {
	left: 100%;
	min-width: 400px;
}
#goodsBox .hideList {
	right: 100%;
	min-width: 400px;
}
/*
	悬浮下拉菜单样式 End
*/
/*面包屑导航*/
#location {
	margin: 15px 0;
	font-size: 14px;
}
#location>div {
	float: left;
	margin-left: 10px;
}
#location b {
	font-size: 18px;
}
#location .spaceTab {
	width: 120px;
	height: 25px;
	text-align: center;
	position: relative;
	border: 1px solid #dadada;
}
#location .spaceTab i {
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}
#location .spaceTab:hover ul {
	display: block;
}
#location .spaceTab ul {
	right: -1px;
	width: 120px;
	display: none;
	font-size: 12px;
	line-height: 24px;
	position: absolute;
	background-color: #FFF;
	border: 1px solid #eee;
	border-top: none;
}
#location .spaceTab ul li:hover {
	cursor: pointer;
	background-color: #CCC;
}
#location .tabRemind {
	color: #FFF;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0 10px;
	margin-top: 2px;
	border-radius: 3px;
	background-color: #F00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*详细介绍*/
#dateil>div {
	float: left;
}
#dateil .dateilLeft {
	width: 273px;
	margin-right: 20px;
}
#dateil .boxTitle {
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	font-weight: 600;
	padding-left: 15px;
	background-color: #ededed;
}
#dateil .tabStyle, #dateil .rank, #optBox {
	border: 1px solid #dadada;
	background-color: #dadada;
}
#dateil .tabStyle li {
	float: left;
	width: 135px;
	height: 135px;
	font-size:14px;
	cursor:pointer;
	padding-top:15px;
	text-align:center;
	margin: 1px 1px 0 0;
	background-color: #F7F7F7;
}
#dateil .tabStyle li:hover{
	background-color: #ededed;
}
#dateil .tabStyle li.noRight {
	margin-right: 0;
}
#dateil .rank {
	margin-top: 30px;
}
#dateil .rank img {
	float: left;
	width: 271px;
	margin-top: 1px;
}
#dateil .dateilRight {
	width: 907px;
}
/*内容筛选*/
#optBox .boxTitle {
	text-align: center;
	margin-bottom: 1px;
}
#optBox .boxTitle span {
	font-weight: normal;
}
#optBox ul {
	padding: 15px;
	background-color: #F7F7F7;
}
#optBox ul li {
	font-size: 13px;
	line-height: 30px;
}
#optBox ul li span {
	width: 80px;
	font-weight: 600;
	text-align: right;
	display: inline-block;
}
#optBox ul li i {
	margin: 0 6px;
	cursor: pointer;
	padding: 3px 6px;
	font-style: normal;
}
#optBox ul li i:hover, #optBox ul li i.on {
	background-color: #dedede;
}
#optBox ul li div {
	float: right;
	cursor: pointer;
	text-align: center;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	border: 1px solid #dadada;
}
#optBox ul li div a {
	font-size: 17px;
	color: #aaa;
}
/*工具导航栏*/
#dateil .toolBar {
	height: 40px;
	margin: 15px 0;
	font-size: 14px;
	line-height: 40px;
}
#dateil .toolBar .sortBtn {
	float: left;
}
#dateil .toolBar .sortBtn li {
	float: left;
	color: #FFF;
	cursor: pointer;
	padding: 0 25px;
	margin-right: 15px;
	background-color: #acacac;
}
#dateil .toolBar .sortBtn li:hover, #dateil .toolBar .sortBtn li.on {
	background-color: #1badd6;
}
#dateil .toolBar .showType {
	float: right;
}
#dateil .showType li {
	float: left;
	color: #FFF;
	margin-left: 12px;
}
#dateil .showType .pageNum {
	font-size: 14px;
	color: #000;
}
#dateil .showType .pageNum span {
	color: #F00;
}
#dateil .pageL, #dateil .pageR {
	width: 36px;
	color: #fff;
	height: 36px;
	font-size: 25px;
	text-align: center;
	line-height: 34px;
}
#dateil .showType .pageL {
	background-color: #dbdbdb;
}
#dateil .showType .pageR {
	margin-left: 0;
	background-color: #acacac;
}

#dateil .showType .showIcoU, #dateil .showType .showIcoE {
	width: 36px;
	height: 36px;
	cursor: pointer;
	background-image: url(../images/sprits.png);
	background-repeat: no-repeat;
}
#dateil .showType .showIcoU{
	background-position: 0 0;
}
#dateil .showType .showIcoU:hover, #dateil .showType .showIcoU.on{
	background-position: 0 -36px;
}
#dateil .showType .showIcoE{
	background-position: -40px 0;
}
#dateil .showType .showIcoE:hover, #dateil .showType .showIcoE.on{
	background-position: -40px -36px;
}

/*页码*/
.page {
	color: #000;
	font-size: 13px;
	margin: 15px 0;
	text-align: right;
}
.page span:hover{
	background-color: #1fccee;
}
.page span {
	color: #FFF;
	padding: 10px 15px;
	cursor: pointer;
	display: inline-block;
	background-color: #acacac;
}
.page input {
	width: 41px;
	height: 37px;
	text-align: center;
	border: 1px solid #D1D1D1;
}

/*多条件筛选*/
#optBox input[type="checkbox"]{
	display:none;
}

#searchOpt s{
	cursor:pointer;
	display:none;
	font-size:12px;
	padding:2px 5px;
	border:1px solid #CCC;
	margin:0 5px;
}
#searchOpt s:after{
	content: '\2715';
}