﻿#classList{
	padding-bottom:10px;
	position:relative;
}
/*空间、商品分类列表*/
#spaceBox, #goodsBox {
	float:left;
	font-size:14px;
	line-height:45px;
}
/*banner*/
.banner{
	float:left;
	width:55%;
}
/*广告栏*/
.styleAd{
	height:200px;
	text-align:center;
}
.styleAd img{
	width:393px;
	border:1px solid #ccc;
}
/*简约设计师*/
.designer .title, .designerRank .title {
	height: 40px;
	line-height:40px;
	border-bottom: 2px solid #007DCA;
}
.designer .title i, .designerRank .title i{
	width:40px;
  height:25px;
	display:inline-block;
  background-image:url(../images/sprits.png);
  background-repeat: no-repeat;
}
.designer .title i{
	background-position: -45px -290px;
}
.designerRank .title i{
	background-position: 0 -290px;
}

.designer .title>b, .designerRank .title>b{
	font-size:16px;
	margin:0 20px 0 0;
}

.designer .title a b, .designerRank .title a b{
	float:right;
	font-size:14px;
}

.designer .designImg>div{
	float:left;
	width:25%;
}

.designer .designImg img{
	float:left;
	width:100%;
}
.designImg .avatar {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
}

.designerRank .designphoto img{
	float:left;
	width:20%;
}
/*相关资讯*/
.styleNews{
	margin-top:20px;	
}
.styleNews>div{
	float:left;
	margin-left:1%;
	width:23%;
	border:1px solid #CCC;
}

.styleNews .newsImg{
	margin:0;
	border:none;
	width:28%;
}

.styleNews .newsImg img{
	width:100%;
}

.styleNews .title{
	font-size:14px;
	padding-left:10px;
	line-height:30px;
	font-weight:bold;
}

.styleNews .detail {
	border-bottom:#CCC 1px dashed;
}

.styleNews .detail img{
	float:left;
	width:50%;
	margin:0 10px;
}

.styleNews .detail div{
	color: #aaa;
	height: 120px;
	line-height: 22px;
	padding-top: 10px
}

.styleNews .newsList{
	line-height:24px;
	padding-left: 10px;
	margin: 9px 0;
}
.casetmb {
	position: relative;
}
.centerImg {
	width: 50%!important;
}
.centerImg .casetmb {
    float: left;
}
.designphoto .broad{
	display: block;
	position: relative;
	cursor: pointer;
}
.broad .avatar {
    width: 90px;
    height: 90px;
	position: absolute;
	border: 4px solid #ebdbc1;
	top: 20px;
	margin-left: 20px;
}
.broad .avatar img{
    width: 100%;
    float: none;
}
.broad .noicon {
	margin-left: 89px;
	top: 29px;
	width: 30px;
	height: 30px;
}




 